{% macro resource_constraints(memory_request, cpu_request, memory_limit, cpu_limit, caller=None) %}
requests+: {
{% if memory_request %}
    memory: {{ memory_request | to_json }},
{% endif %}
{% if cpu_request %}
    cpu: {{ cpu_request | to_json }},
{% endif %}
},
limits+: {
{% if memory_limit %}
    memory: {{ memory_limit | to_json }},
{% endif %}
{% if cpu_limit %}
    cpu: {{ cpu_limit | to_json }},
{% endif %}
},
{% endmacro %}
