apiVersion: v1
kind: Service
metadata:
  name: nginx-service-dual-stack
  namespace: {{ check_services_namespace | to_json }}
spec:
  selector:
    app: nginx-dual-stack
  ipFamilies:
  - IPv4
  - IPv6
  ipFamilyPolicy: PreferDualStack
  ports:
    - protocol: TCP
      nodePort: {{ deprecated_nodeport_lb_test_port }}
      port: 80
      targetPort: 80
  type: NodePort

---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: nginx-dual-stack
  name: nginx-dual-stack
  namespace: {{ check_services_namespace | to_json }}
spec:
  containers:
  - image: registry.gitlab.com/yaook/images/k8s-nginx:main
    name: nginx-dual-stack
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Never
status: {}

