---
kind: Service
apiVersion: v1
metadata:
  name: ch-k8s-lbaas-controller
  namespace: kube-system
  labels:
    app: ch-k8s-lbaas-controller
spec:
  selector:
    app: ch-k8s-lbaas-controller
  type: ClusterIP
  ports:
  - name: api
    port: 15203
    targetPort: 15203
    protocol: TCP
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ch-k8s-lbaas-controller
  namespace: kube-system
spec:
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      app: ch-k8s-lbaas-controller
  endpoints:
    - interval: 60s
      port: api
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ch-k8s-lbaas-agent
  namespace: kube-system
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app: ch-k8s-lbaas-agent
  endpoints:
    - interval: 15s
      port: api
      path: /metrics
---
kind: Service
apiVersion: v1
metadata:
  name: ch-k8s-lbaas-agent
  namespace: kube-system
  labels:
    app: ch-k8s-lbaas-agent
spec:
  type: ClusterIP
  ports:
  - name: api
    port: {{ ch_k8s_lbaas_agent_port | to_json }}
    targetPort: {{ ch_k8s_lbaas_agent_port | to_json }}
---
kind: Endpoints
apiVersion: v1
metadata:
  name: ch-k8s-lbaas-agent
  namespace: kube-system
  labels:
    app: ch-k8s-lbaas-agent
subsets:
  - addresses:
{% for gw in groups["gateways"] %}
    - ip: {{ hostvars[gw]['local_ipv4_address'] | to_json }}
{% endfor %}
    ports:
      - name: api
        port: {{ ch_k8s_lbaas_agent_port | to_json }}
