apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rook-ceph-mgr
  namespace: "{{ rook_namespace }}"
  labels:
    team: rook
spec:
  namespaceSelector:
    matchNames:
      - rook-ceph
  selector:
    matchLabels:
      app: rook-ceph-mgr
      rook_cluster: "{{ rook_cluster_name }}"
  endpoints:
  - port: http-metrics
    path: /metrics
    interval: 5s
