apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-busybox-test
  namespace: "{{ check_calico_namespace }}"

---

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: calico-busybox-test
rules:
- apiGroups:
  - extensions
  resources:
  - podsecuritypolicies
  resourceNames:
  - calico-busybox-psp # the psp we are giving access to
  verbs:
  - use

---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: calico-busybox-test
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: calico-busybox-test
subjects:
- kind: ServiceAccount
  name: calico-busybox-test
  namespace: "{{ check_calico_namespace }}"