---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: calico-busybox-test
  namespace: "{{ check_calico_namespace }}"
  labels:
    k8s-app: calico-busybox-test
spec:
  replicas: {{ [check_calico_busybox_replicas, k8s_nodes_list.resources | length ] | min  }}
  selector:
    matchLabels:
      k8s-app: calico-busybox-test
  template: 
    metadata:
      labels:
        k8s-app: calico-busybox-test
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: k8s-app
                operator: In
                values:
                - calico-busybox-test
            topologyKey: "kubernetes.io/hostname"
      tolerations:
      - key: ""
        operator: Exists
      containers:
      - name: calico-busybox-test
        image: registry.gitlab.com/yaook/images/k8s-debian:main
        command: ["sleep", "infinity"]
      serviceAccountName: calico-busybox-test
