---
kind: Service
apiVersion: v1
metadata:
  name: echo-service-single-stack-v6
  namespace: "{{ check_loadbalancer_service_namespace }}"
  annotations:
    service.beta.kubernetes.io/openstack-internal-load-balancer: "false"
spec:
  selector:
    app: echo
  type: LoadBalancer
  ports:
  - name: http
    port: {{ check_loadbalancer_service_port }}
    targetPort: 80
  ipFamilyPolicy: SingleStack
  ipFamilies:
  - IPv6
