---
apiVersion: v1
kind: Pod
metadata:
  name: prometheus-test-scraper
  namespace: "{{ check_prometheus_scraping_namespace }}"
  labels:
    k8s-app: prometheus-test-scraper
spec:
  nodeSelector:
    kubernetes.io/os: linux
  containers:
  - name: prometheus-test-scraper
    image: registry.gitlab.com/yaook/images/k8s-debian:main
    command:
    - sleep
    - infinity
    resources:
      requests:
        cpu: 100m
        memory: 200
